* {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-family: "楷体";
	color: darkslategray;
}

.fl_l {
	float: left;
}

.fl_r {
	float: right;
}

#container {
	width: 1200px;
	margin: auto;
}

#head {
	width: 1200px;
	height: 210px;
}

#head>#head_top {
	width: 1200px;
	height: 29px;
	border-bottom: solid 1px darkgray;
}

#head>#head_top>a {
	text-decoration: none;
	line-height: 29px;
	width: 80px;
	height: 29px;
	display: block;
	font-size: 16px;
	margin-left: 20px;
	margin-right: -20px;
}

#head>#head_m {
	width: 1200px;
	height: 100px;
	background: url(../img/luntan/logo.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 100%;
}

#head>#head_m>#login {
	width: 450px;
	height: 50px;
	margin: 25px 0px 25px 0px;
	font-size: 16px;
}

#head>#head_m>#login td {
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}

#head>#head_m>#login button {
	height: 20px;
	width: 80px;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	display: block;
	margin-top: 2px;
}

#head>#head_m>#login td>a {
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
}

#head>#head_m>#login select {
	border: none;
	outline: none;
	font-size: 16px;
}

#head>#head_b {
	width: 1200px;
	height: 80px;
}

#head>#head_b>#head_b_t {
	width: 1200px;
	height: 29px;
	background: dodgerblue;
	padding-top: 1px;
}

#head>#head_b>#head_b_t>#head_b_t_l>ul>li {
	list-style: none;
	width: 90px;
	height: 29px;
}

#head>#head_b>#head_b_t>#head_b_t_l>ul>li>a {
	width: 90px;
	height: 19px;
	text-decoration: none;
	display: block;
	line-height: 20px;
	text-align: center;
	font-size: 19px;
	border-right: solid 1px darkgray;
	margin-top: 5px;
}

#head>#head_b>#head_b_t>#head_b_t_l>ul>li:hover {
	background: deepskyblue;
}

#head>#head_b>#head_b_t>#head_b_t_r {
	background: url(../img/luntan/qmenu.png);
	background-position: right top;
	background-size: auto 200%;
	background-repeat: no-repeat;
	position: relative;
}

#head>#head_b>#head_b_t>#head_b_t_r>a {
	width: 150px;
	height: 29px;
	text-decoration: none;
	display: block;
	line-height: 29px;
	text-align: center;
	font-size: 20px;
	border-right: solid 1px darkgray;
}

#head>#head_b>#head_b_b {
	width: 1200px;
	height: 50px;
	background: powderblue;
}

#head>#head_b>#head_b_b>table {
	width: 500px;
	height: 50px;
	padding: 3px;
}

#head>#head_b>#head_b_b>table tr {
	height: 34px;
	border: none;
}

#head>#head_b>#head_b_b>table tr input {
	height: 34px;
	width: 400px;
	border: none;	
}

#head>#head_b>#head_b_b>table tr select {
	width: 60px;
	height: 34px;
	line-height: 34px;
	border: none;
	font-size: 18px;
}

#head>#head_b>#head_b_b>table tr button {
	width: 32px;
	height: 32px;
	line-height: 32px;
	border: none;
	/*outline: none;*/
	display: block;
	background: url(../img/zx/ss.jpg);
	background-size: 130% 130%;
	background-position: center center;
	border-radius: 5px;
}
#main>#nav{
	width: 1200px;
	height: 30px;
}
#main>#nav>#nav_top{
	width: 1200px;
	height: 15px;
	background: url(../img/luntan/search.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: auto 1000%;
}
#main>#nav>#nav_top>a{
	text-decoration: none;
	text-indent: 20px;
	display: block;
}
#main>#nav>#nav_bottom{
	width: 1200px;
	height: 15px;
	background: url(../img/luntan/chart.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#main>#nav>#nav_bottom>p a{
	text-decoration: none;
}
#main>.kuangjia{
	width:1198px ;
	border: solid 1px whitesmoke;
	overflow: hidden;
}

#main>.kuangjia>.zhuti{
	background: whitesmoke;
	width:1198px ;
	height: 28px;
	/*background: url(../img/luntan/collapsed_no.gif);
	background-position: 1170px center;
	background-repeat: no-repeat;*/
	
}
#main>.kuangjia>.zhuti>p{
	width:1000px ;
	height: 28px;
	line-height: 28px;
}
#main>.kuangjia>.zhuti>img{
	margin: 5px 5px 5px 0px;
	/*src: url(../img/luntan/collapsed_no.gif);*/
}
#main>.kuangjia>.mokuai{
	width: 1198px;
	overflow: hidden;
}
#main>.kuangjia>.mokuai>hr{
	width: 96%;
	border: dotted 1px ghostwhite;
	
}
#main>.kuangjia>.mokuai>.xiaomokuai{
	width: 379px;
	height: 60px;
	margin:20px 0px 10px 20px;
}
#main>.kuangjia>.mokuai>.xiaomokuai>dt>img{
	margin-top: -2px;
}

#main>.kuangjia>.mokuai>.xiaomokuai>dd>p>a,h2>a{
	text-decoration: none;
}
#foot{
	width: 1200px;
	height: 100px;
	/*background: red;*/
	margin-top: 5px;
}
#foot>#foot_top{
	width: 1200px;
	height: 20px;
}
#foot>#foot_top>h1{
	width: 1200px;
	height: 20px;
	line-height: 20px;	
}
#foot>hr{
	width: 100%;
	height: 1px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	border: solid 1px ghostwhite;	
	line-height: 0px;
}
#foot>#foot_b{
	width: 1200px;
	height: 79px;	
}
#foot>#foot_b>#foot_b_l{
	width: 600px;
	height: 40px;
	margin-top: 5px;
	line-height: 20px;
}
#foot>#foot_b>#foot_b_r{
	width: 300px;
	height: 40px;
	margin-top: 5px;
	line-height: 20px;
}
#foot>#foot_b>#foot_b_r a{
	text-decoration: none;
}
#time{
	text-align: center;
}
#scroll{
	width: 30px;
	height: 24px;
	background: url(../img/luntan/scrolltop.png);
	background-position: left top;
	background-repeat: no-repeat;
	padding: 3px 5px;
	position: fixed;
	top: 300px;
	border: solid 1px lightgray;
}
.hide{
	display: none;
}
.show{
	display: inherit;
}
#qmenu{
	position: absolute;
	left: 30px;
	top: 30px;
	height: 200px;
	width: 120px;
	overflow-y: scroll;
	overflow-x: hidden;
}
#qmenu input{
	width: 100px;	
}
#qmenu>ul>a{
	text-decoration: none;
	font-size: 16px;
	color: black;
}
#qmenu>ul>li>a{
	text-decoration: none;
	font-size: 14px;
	text-align: center;
}
#qmenu>ul a:hover{
	color: orangered;
}
