* {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	font-family: "楷体";
	color: darkslategray;
}

.fl_l {
	float: left;
}

.fl_r {
	float: right;
}

#container {
	width: 1200px;
	height: 1100px;
	margin: auto;
}

#head {
	height: 400px;
	width: 1200px;
	background: url(../img/xlxs/head.jpg);
}

#main {
	height: 610px;
	width: 1200px;
	background: url(../img/xlxs/main.jpg);
	/*background-size: 100% 100%;*/
	/*background: deepskyblue;*/
}

#main>#m1 {
	height: 300px;
	width: 200px;
	margin: 50px 20px 20px 20px;
	border: solid 1px snow;
	background: white;
}

#main>#m1>#m1_top {
	height: 50px;
	width: 200px;
	background: url(../img/xlxs/left1.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#main>#m1>#m1_mid {
	height: 200px;
	width: 200px;
}

#main>#m1>#m1_mid>a {
	height: 200px;
	width: 200px;
	display: block;
	background: url(../img/xlxs/left2.jpg);
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center center;
}

#main>#m1>#m1_bot {
	height: 150px;
	width: 200px;
	background: url(../img/xlxs/left3.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#main>#m2 {
	height: 600px;
	width: 400px;
	margin-right: 10px;
	/*background: deepskyblue;*/
}

#main>#m2>#m2_top {
	height: 271px;
	width: 398px;
	margin-bottom: 10px;
	border: solid 1px gainsboro;
	border-radius: 5px;
}

#main>#m2>#m2_top>#m2_top_t {
	height: 50px;
	width: 398px;
	background: url(../img/xlxs/c1.jpg);
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: left center;
}

#main>#m2>#m2_top>#m2_top_t>button {
	height: 14px;
	width: 45px;
	background: url(../img/xlxs/c2.jpg);
	display: block;
	float: right;
	margin: 18px 10px 18px 0px;
	border: none;
	outline: none;
}

#main>#m2>#m2_top>#m2_top_b {
	height: 200px;
	width: 395px;
	margin: 10px 0px 10px 5px;
}

#main>#m2>#m2_top>#m2_top_b>P {
	height: 40px;
}

#main>#m2>#m2_top>#m2_top_b>P>a {
	text-decoration: none;
	line-height: 40px;
	font-size: 16px;
}

#main>#m2>#m2_top>#m2_top_b>P>span {
	line-height: 40px;
	width: 50px;
	font-size: 16px;
	display: block;
	float: right;
}

#main>#m2>#m2_top>hr {
	height: 1px;
	background-color: gray;
	border: none;
}

#main>#m2>#m2_bot {
	height: 315px;
	width: 398px;
	border: solid 1px gainsboro;
	border-radius: 5px;
}

#main>#m2>#m2_bot>#m2_bot_t {
	height: 50px;
	width: 398px;
	background: url(../img/xlxs/c4.jpg);
	background-repeat: no-repeat;
	background-size: auto 80%;
	background-position: left center;
}

#main>#m2>#m2_bot>#m2_bot_t>button {
	height: 14px;
	width: 45px;
	background: url(../img/xlxs/c2.jpg);
	display: block;
	float: right;
	margin: 18px 10px 18px 0px;
	border: none;
	outline: none;
}

#main>#m2>#m2_bot>hr {
	height: 1px;
	background-color: gray;
	border: none;
}

#main>#m2>#m2_bot>#m2_bot_m {
	height: 234px;
	width: 398px;
}

#main>#m2>#m2_bot>#m2_bot_m>#m2_bot_m_l {
	width: 150px;
	height: 150px;
	margin: 42px 10px;
	background: url(../img/xlxs/c5.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
}

#main>#m2>#m2_bot>#m2_bot_m>#m2_bot_m_r {
	width: 228px;
	height: 220px;
	margin: 7px 0px;
	float: left;
	/*background: red;*/
}

#main>#m2>#m2_bot>#m2_bot_m>#m2_bot_m_r>h6 {
	line-height: 70px;
	font-size: 20px;
	color: goldenrod;
}

#main>#m2>#m2_bot>#m2_bot_m>#m2_bot_m_r>p>a {
	text-decoration: none;
	line-height: 30px;
	font-size: 16px;
}

#main>#m2>#m2_bot>#m2_bot_m>#m2_bot_m_r>p>a:active {
	color: palevioletred;
}

#main>#m2>#m2_bot>#m2_bot_b {
	height: 30px;
	width: 398px;
}

#main>#m2>#m2_bot>#m2_bot_b>#m2_bot_b_l {
	width: 170px;
	height: 20px;
	margin: 0px 5px 5px 5px;
	background: powderblue;
	border-radius: 5px;
	float: left;
}

#main>#m2>#m2_bot>#m2_bot_b>#m2_bot_b_m {
	width: 105px;
	height: 20px;
	margin: 0px 5px 5px 0px;
	background: darkseagreen;
	border-radius: 5px;
	float: left;
}

#main>#m2>#m2_bot>#m2_bot_b>#m2_bot_b_r {
	width: 100px;
	height: 20px;
	margin: 0px 5px 5px 0px;
	background: yellowgreen;
	border-radius: 5px;
	float: left;
}

#main>#m2>#m2_bot>#m2_bot_b a {
	text-decoration: none;
	line-height: 20px;
	text-align: center;
	width: 100%;
	height: 20px;
	display: block;
}

#main>#m3 {
	height: 600px;
	width: 450px;
	margin-right: 10px;
}

#main>#m3>.tu1{
	height: 249px;
	width: 450px;
	/*background: deepskyblue;*/
	background: url(../img/xlxs/tu1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 50px;
	border-radius: 5px;
	padding-top: 1px;
	
}
#main>#m3>.tu2{
	height: 249px;
	width: 450px;
	/*background: deepskyblue;*/
	background: url(../img/xlxs/tu2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 50px;
	border-radius: 5px;
	padding-top: 1px;

}
#main>#m3>.tu3{
	height: 249px;
	width: 450px;
	/*background: deepskyblue;*/
	background: url(../img/xlxs/tu3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 50px;
	border-radius: 5px;
	padding-top: 1px;
	/*background-position: center center;*/
}
#main>#m3>#m3_t>#m3_t_change{
	width: 150px;
	height: 20px;
	/*background: red;*/
margin: 220px 0px 9px 300px;	
}
#main>#m3>#m3_t>#m3_t_change>div{
	width: 20px;
	height: 20px;
	margin-left: 20px;
	/*background: blue;*/
	background: url(../img/xlxs/02.png);
	background-size: 100% 100%;
}
#main>#m3>#m3_t>#m3_t_change>div:hover{
	background: url(../img/xlxs/01.png);
	background-size: 100% 100%;
}
#main>#m3>#m3_b {
	height: 175px;
	width: 450px;
	padding-top: 15px;
}

#main>#m3>#m3_b>#m3_b_l {
	height: 160px;
	width: 140px;
	/*background: deepskyblue;*/
	margin-right: 15px;
}

#main>#m3>#m3_b>#m3_b_m {
	height: 160px;
	width: 140px;
	/*background: deepskyblue;*/
	margin-right: 15px;
}

#main>#m3>#m3_b>#m3_b_r {
	height: 160px;
	width: 140px;
	/*background: deepskyblue;*/
}

#main>#m3>#m3_b a {
	height: 158px;
	width: 138px;
	text-decoration: none;
	display: block;
	border: solid 1px deepskyblue;
	background: deepskyblue;
	border-radius: 5px;
	overflow: hidden;
}

#main>#m3>#m3_b a:hover {
	border: solid 1px dodgerblue;
	background: dodgerblue;
}

#main>#m3>#m3_b a>img {
	width: 138px;
	height: 138px;
}

#main>#m3>#m3_b a>p {
	font-size: 16px;
	text-align: center;
	color: white;
}

#main>#m4 {
	height: 600px;
	width: 80px;
	/*background: deepskyblue;*/
}

#main>#m4>div {
	width: 80px;
	height: 80px;
	margin: 18px 0px;
	/*background: deepskyblue;*/
	border-radius: 5px;
	overflow: hidden;
}

#main>#m4>div>button {
	width: 80px;
	height: 60px;
	margin: 10px 0px;
	outline: none;
	background: none;
	border: none;
}

#main>#m4>div>#r1 {
	background: url(../img/xlxs/r1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#main>#m4>div>#r2 {
	background: url(../img/xlxs/r2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#main>#m4>div>#r3 {
	background: url(../img/xlxs/r3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#main>#m4>div>#r4 {
	background: url(../img/xlxs/r4.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#main>#m4>div>#r5 {
	background: url(../img/xlxs/r5.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#main>#m4>div>#r6 {
	background: url(../img/xlxs/r6.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#bottom{
	width: 1200px;
	height: 100px;
	overflow: hidden;
}
#pm{
	width: 2400px;
	height: 100px;
	position: relative;
}
#pm>div{
	width: 150px;
	height: 100px;
	float: left;
	
}
#foot {
	width: 1200px;
	height: 90px;
	background: url(../img/xlxs/foot.jpg);
	background-size: 100% 100%;
}